.forecast-details {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 226, 64);
  border-radius: 10px;
  width: auto;
  height: auto;
  align-items: center;
}

.forecast-details__date {
  font-size: 20px;
  font-weight: bold;
}
