.forecast-details {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 226, 64);
  border-radius: 10px;
  align-items: center;
}

.forecast-details__date {
  font-size: 20px;
  font-weight: bold;
}
